<div id="loading-block">Загрузка...</div>
<div id="failed" style="display: none;">
    <p id="failed-text">Не удалось загрузить города</p>
    <button id="failed-btn">Повторить</button>
</div>
<div id="filter-block" style="display: none;">
  <input type="text" placeholder="название города" id="filter-input">

  <div id="filter-result"></div>
</div>
